<!DOCTYPE html>
<html>
<head>
    <title>歡迎！</title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=big5">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <style style="text/css">
        a{text-decoration:none;}
        a:hover{text-decoration:underline;}
    </style>
</head>



<div style="font-family: 'Inter', sans-serif;"><center>

    <h2>歡迎來到註冊登入系統<br><br><br><br>
        <a href="register" style="color:#2b3d16;">註冊</a><br><br>
		<a href="login" style="color:#2b3d16;">登入</a><br><br>
    </h2>
	<div class="ending"style="font-family: 'Inter', sans-serif;"><center>
	<br><p></p>Copyright © 2019 -
        <script>
            document.write(new Date().getFullYear());
        </script><br>
        Made with ❤ by <a href="https://network.steveyi.net/">SteveYi</a>.<br>
		This is a open source project on <a href="https://github.com/steveyiyo/simple-login" target="_top">Github</a>.<br> 
		Thanks to <a href="https://github.com/iambjlu">iambjlu</a> for optimize this project.
    </center></font></div></div>
	
	
	
	</body>
</html>